.titulo{
    text-align: center;
}

.titulo2{
    text-align: center;
    color: white;
}

.paragrafo {
    text-align: center;
}

.paragrafo2{
    text-align: center;
    color: white;
}

.img_container {
    text-align: center;
}

.corpo {
    background-color: orange;
}

.corpo2{
    background-color: black;
}

.paragrafoescala {
    font-size: 200%
}

.paragrafoescala2{
    text-align: center;
    color: white;
    font-size: 200%;
}

.segredinho {
    text-align: left;
}